.nav-item {
    color: white !important;
    font-size: 20px;
}

.active {
    color: #FCA311;
}

#logo {
    width: 100px;
    height: auto;
}


a {
    color: white;
    font-size: 20px;
}

a:hover {
    color: #FCA311;
    text-decoration: none;
}

.resume-btn-container {
    display: flex;
    justify-content: center;
}
.resume-btn {
    border: none;
    color: black;
    background-color: #FCA311;
    padding: 5px 40px 5px 40px;
    border-radius: 20px;
    font-weight: 600;
}

#sketch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlap {
    position: absolute;
}

@media only screen and (min-width: 1024px) {
    a {
        font-size: 24px;
    }
    h3 {
      font-size: 2rem;
    }

    .resume-btn {
        font-size: 36px;
        margin: 20px;
        border-radius: 40px;
    }

  }